# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [132]:
# Setup
import pandas as pd
import numpy as np

# Files to Load 
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read and store files into Pandas DF
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [133]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].unique()
school_count = len(school_count)
school_count

15

In [134]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [135]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [136]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [137]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [138]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [139]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [140]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [141]:
district_summary_dicts_df = pd.DataFrame({"Total Schools": [school_count], "Total Students": [student_count],
"Total Budget": [total_budget], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], 
"Passing Math Percentage": [passing_math_percentage], "Passing Reading Percentage": [passing_reading_percentage],
"Overall Passing Rate": [overall_passing_rate]})

district_summary_dicts_df

district_summary_dicts_df["Total Students"] = district_summary_dicts_df["Total Students"].map("{:,}".format)
district_summary_dicts_df["Total Budget"] = district_summary_dicts_df["Total Budget"].map("${:,.2f}".format)

district_summary_dicts_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math Percentage,Passing Reading Percentage,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [142]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [143]:
# Calculate the total student count
per_school_counts = school_data_complete.groupby(["school_name"]).count()["Student ID"]
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [144]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [145]:
# Calculate the average test scores
per_school_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [146]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]

In [147]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]

In [151]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [152]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_overall = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_overall

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [156]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary_dicts_df = pd.DataFrame({"School Type": school_types, "Total Students": per_school_counts,
"Total School Budget": per_school_budget, "Per Student Budget": per_school_capita, "Average Math Score": per_school_math, 
"Average Reading Score": per_school_reading, "% Passing Math": per_school_passing_math, "% Passing Reading": per_school_passing_math,
"% Overall Passing": per_school_passing_overall})

# Formatting

# Display the DataFrame
per_school_summary_dicts_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,66.680064,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,94.133477,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,65.988471,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,68.309602,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,93.392371,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,66.752967,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,92.505855,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,65.683922,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,66.057551,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,94.594595,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,66.366592,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,93.867121,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,93.272171,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,93.867718,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,93.333333,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [171]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
per_school_passing_df = per_school_summary_dicts_df.sort_values("% Overall Passing", ascending=False)
per_school_passing_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,94.133477,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,93.272171,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,93.392371,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,93.867718,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,94.594595,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [172]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
per_school_passing_df = per_school_summary_dicts_df.sort_values("% Overall Passing")
per_school_passing_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,66.366592,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,65.988471,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,65.683922,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,66.752967,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,66.057551,53.539172

## Math Scores by Grade

In [199]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = school_data_complete.groupby(["school_name"]).mean()
tenth_graders_scores = school_data_complete.groupby(["school_name"]).mean()
eleventh_graders_scores = school_data_complete.groupby(["school_name"]).mean()
twelfth_graders_scores = school_data_complete.groupby(["school_name"]).mean()

# Use the code to select only the `math_score`.
ninth_grader_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade_df = pd.DataFrame({"9th": ninth_grader_math_scores,
                                        "10th": tenth_grader_math_scores,
                                        "11th": eleventh_grader_math_scores,
                                        "12th": twelfth_grader_math_scores})
                                        

# Minor data wrangling 
math_scores_by_grade_df=math_scores_by_grade_df[["9th", "10th", "11th", "12th"]]
math_scores_by_grade_df.index.name = None

# Display the DataFrame
math_scores_by_grade_df

                             9th       10th       11th       12th
Bailey High School     77.048432  77.048432  77.048432  77.048432
Cabrera High School    83.061895  83.061895  83.061895  83.061895
Figueroa High School   76.711767  76.711767  76.711767  76.711767
Ford High School       77.102592  77.102592  77.102592  77.102592
Griffin High School    83.351499  83.351499  83.351499  83.351499
Hernandez High School  77.289752  77.289752  77.289752  77.289752
Holden High School     83.803279  83.803279  83.803279  83.803279
Huang High School      76.629414  76.629414  76.629414  76.629414
Johnson High School    77.072464  77.072464  77.072464  77.072464
Pena High School       83.839917  83.839917  83.839917  83.839917
Rodriguez High School  76.842711  76.842711  76.842711  76.842711
Shelton High School    83.359455  83.359455  83.359455  83.359455
Thomas High School     83.418349  83.418349  83.418349  83.418349
Wilson High School     83.274201  83.274201  83.274201  83.274201
Wright High School     83.682222  83.682222  83.682222  83.682222

## Reading Score by Grade

In [198]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = school_data_complete.groupby(["school_name"]).mean()
tenth_graders_scores = school_data_complete.groupby(["school_name"]).mean()
eleventh_graders_scores = school_data_complete.groupby(["school_name"]).mean()
twelfth_graders_scores = school_data_complete.groupby(["school_name"]).mean()

# Use the code to select only the `reading_score`.
ninth_grader_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade_df = pd.DataFrame({"9th": ninth_grader_reading_scores,
                                        "10th": tenth_grader_reading_scores,
                                        "11th": eleventh_grader_reading_scores,
                                        "12th": twelfth_grader_reading_scores})
                                        

# Minor data wrangling 
reading_scores_by_grade_df=reading_scores_by_grade_df[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade_df.index.name = None

# Display the DataFrame
reading_scores_by_grade_df

                             9th       10th       11th       12th
Bailey High School     81.033963  81.033963  81.033963  81.033963
Cabrera High School    83.975780  83.975780  83.975780  83.975780
Figueroa High School   81.158020  81.158020  81.158020  81.158020
Ford High School       80.746258  80.746258  80.746258  80.746258
Griffin High School    83.816757  83.816757  83.816757  83.816757
Hernandez High School  80.934412  80.934412  80.934412  80.934412
Holden High School     83.814988  83.814988  83.814988  83.814988
Huang High School      81.182722  81.182722  81.182722  81.182722
Johnson High School    80.966394  80.966394  80.966394  80.966394
Pena High School       84.044699  84.044699  84.044699  84.044699
Rodriguez High School  80.744686  80.744686  80.744686  80.744686
Shelton High School    83.725724  83.725724  83.725724  83.725724
Thomas High School     83.848930  83.848930  83.848930  83.848930
Wilson High School     83.989488  83.989488  83.989488  83.989488
Wright High School     83.955000  83.955000  83.955000  83.955000

## Scores by School Spending

In [200]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
spending_bins

[0, 585, 630, 645, 680]

In [210]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary_dicts_df.copy()
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,66.680064,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,94.133477,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,65.988471,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,68.309602,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,93.392371,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,66.752967,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,92.505855,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,65.683922,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,66.057551,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,94.594595,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,66.366592,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,93.867121,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,93.272171,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,93.867718,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,93.333333,90.333333

In [215]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,66.680064,54.642283,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,94.133477,91.334769,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,65.988471,53.204476,$630-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,68.309602,54.289887,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,93.392371,90.599455,$585-630
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,66.752967,53.527508,$645-680
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,92.505855,89.227166,<$585
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,65.683922,53.513884,$645-680
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,66.057551,53.539172,$645-680
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,94.594595,90.540541,$585-630
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,66.366592,52.988247,$630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,93.867121,89.892107,$585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,93.272171,90.948012,$630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,93.867718,90.582567,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,93.333333,90.333333,<$585

In [219]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [228]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores, "Average Reading Score": spending_reading_scores, 
"% Passing Math": spending_passing_math,"% Passing Reading": spending_passing_reading, "% Overall Passing": overall_passing_spending})
                                 

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,93.460096,90.369459
$585-630,81.899826,83.155286,87.133538,87.133538,81.418596
$630-645,78.518855,81.624473,73.484209,73.484209,62.857656
$645-680,76.997210,81.027843,66.164813,66.164813,53.526855

## Scores by School Size

In [235]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

size_bins

[0, 1000, 2000, 5000]

In [239]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary_df = pd.cut(per_school_counts, size_bins, labels=labels)

per_school_summary_df

school_name
Bailey High School        Large (2000-5000)
Cabrera High School      Medium (1000-2000)
Figueroa High School      Large (2000-5000)
Ford High School          Large (2000-5000)
Griffin High School      Medium (1000-2000)
Hernandez High School     Large (2000-5000)
Holden High School            Small (<1000)
Huang High School         Large (2000-5000)
Johnson High School       Large (2000-5000)
Pena High School              Small (<1000)
Rodriguez High School     Large (2000-5000)
Shelton High School      Medium (1000-2000)
Thomas High School       Medium (1000-2000)
Wilson High School        Large (2000-5000)
Wright High School       Medium (1000-2000)
Name: Student ID, dtype: category
Categories (3, object): ['Small (<1000)' < 'Medium (1000-2000)' < 'Large (2000-5000)']

In [230]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

NameError: name 'per_school_summary' is not defined

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`

SIZE SUMMARY SAME THING 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = SETUP LIKE OTHER SCORES (CHANGE TO "SCHOOL TYPE")
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`

DATAFRAME THING WE JUST DID

# Display results
type_summary

In [158]:
df= pd.DataFrame({'number': np.random.randint(1, 100, 10)})
df['bins'] = pd.cut(x=df['number'], bins=[1, 20, 40, 60,
                                          80, 100])
print(df)
 
# We can check the frequency of each bin
print(df['bins'].unique())

NameError: name 'np' is not defined